$font-family: "Public Sans", sans-serif;
$background-color: #f5f5f5;

* {
  font-family: $font-family;
}

.app-container {
  display: flex;
}

.main-content {
  flex: 1;
  background-color: $background-color;
}
